<nav class="mpl-navbar-top mpl-navbar">
    <div class="mpl-navbar-mobile-overlay"></div>
    <div class="container mpl-navbar-container">
        <a href="#" class="mpl-navbar-toggle"></a>
        <div class="mpl-navbar-brand">
            <a href="/">
                <img src="{{ panel.logo }}" alt="">
            </a>
        </div>
        <div class="mpl-navbar-content">
            <ul class="mpl-navbar-nav">
                {% for title,content in navigation["frontendTop"] %}
                    {% if content is iterable %}

                        {% if content.url is defined %}
                            <li class="mpl-dropdown">
                                <a href="{{ content.url }}" class="mpl-nav-link" role="button">
                                    <span class="mpl-nav-link-name">{{ title }}</span>
                                </a>
                                <div class="mpl-dropdown-menu">
                                    <ul class="mpl-navbar-nav">
                                        {% for dropdownTitle,dropdownLink in content.content %}
                                            <li>
                                                <a href="{{ dropdownLink }}" class="mpl-nav-link">
                                                    <span class="mpl-nav-link-name">{{ dropdownTitle }}</span>
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </li>
                        {% else %}
                            <li class="mpl-dropdown">
                                <a href="#" class="mpl-nav-link" role="button">
                                    <span class="mpl-nav-link-name">{{ title }}</span>
                                </a>
                                <div class="mpl-dropdown-menu">
                                    <ul class="mpl-navbar-nav">
                                        {% for dropdownTitle,dropdownLink in content %}
                                            <li>
                                                <a href="{{ dropdownLink }}" class="mpl-nav-link">
                                                    <span class="mpl-nav-link-name">{{ dropdownTitle }}</span>
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </li>
                        {% endif %}
                    {% else %}
                        <li>
                            <a href="{{ content }}" class="mpl-nav-link">
                                <span class="mpl-nav-link-name">{{ title }}</span>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <ul class="mpl-navbar-nav mpl-navbar-right">
                {% if user.logged == true %}
                    <li class="mpl-dropdown">
                        <a href="user-activity.html" class="mpl-nav-link" role="button">
                                <span class="mpl-nav-link-name">
                                    {% if user.firstName == "" %}
                                        {{ user.email }}
                                    {% else %}
                                        {{ user.firstName }} {{ user.lastName }}
                                    {% endif %}
                                <span class="badge badge-brand">8</span>
                                </span>
                        </a>
                        <div class="mpl-dropdown-menu">
                            <ul class="mpl-navbar-nav">
                                <li>
                                    <div onclick="logout();" style="cursor: pointer !important;" class="mpl-nav-link">
                                        <span class="mpl-nav-link-name"> Log Out </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                {% endif %}

                {% include "./frontend/default/elements/cart-dropdown.html.twig" %}

                {% if user.logged == false %}
                    <li class="mpl-dropdown mpl-dropdown-user">
                        <a href="#" class="mpl-nav-link" role="button">
                            <svg class="icon" viewBox="0 0 24 24" stroke="currentColor" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M20 21V19C20 17.9391 19.5786 16.9217 18.8284 16.1716C18.0783 15.4214 17.0609 15 16 15H8C6.93913 15 5.92172 15.4214 5.17157 16.1716C4.42143 16.9217 4 17.9391 4 19V21M16 7C16 9.20914 14.2091 11 12 11C9.79086 11 8 9.20914 8 7C8 4.79086 9.79086 3 12 3C14.2091 3 16 4.79086 16 7Z"/>
                            </svg>
                        </a>
                        <div class="mpl-dropdown-menu">
                            <div class="mpl-navbar-login-form">
                                <div class="row hgap-sm vgap-sm align-items-center">
                                    <div class="col-12">
                                        <label for="email">E-Mail:</label><input
                                                class="form-control form-control-sm" type="text" id="email"
                                                name="username" placeholder="E-Mail Address"><span
                                                class="form-control-bg"></span>
                                    </div>
                                    <div class="col-12">
                                        <label for="password">Password:</label><input
                                                class="form-control form-control-sm" type="password" id="password"
                                                name="password" placeholder="Password"><span
                                                class="form-control-bg"></span>
                                    </div>
                                    <div class="col">

                                    </div>
                                    <div class="col-auto">
                                        <a href="/password-forget" class="small">Forget Password?</a>
                                    </div>
                                    <div class="col-12">
                                        <button onclick="login();" class="btn btn-block btn-default">Log in</button>
                                    </div>
                                    <div class="col-12 small"> Are you new? <a href="/sign-up">Sign Up</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>