<nav class="mpl-navbar mpl-navbar-mobile">
    <div class="mpl-navbar-container">
        <div class="mpl-navbar-head">
            <a href="/" class="mpl-navbar-brand">
                <img src="{{ panel.logo }}" alt="">
            </a>
            <a href="#" class="mpl-navbar-toggle">
                <span></span><span></span><span></span><span></span>
            </a>
        </div>
        <div class="mpl-navbar-body">
            <ul class="mpl-navbar-nav">
                {% for title,content in navigation["frontendTop"] %}
                    {% if content is iterable %}

                    {% if content.url is defined %}
                        <li>
                            <a href="{{ content.url }}" class="mpl-nav-link mpl-nav-link-collapse mpl-collapsed" role="button">
                                <span class="mpl-nav-link-name">{{ title }}</span>
                            </a>
                            <div class="mpl-navbar-collapse collapse">
                                <ul class="mpl-navbar-nav">
                                    {% for dropdownTitle,dropdownLink in content.content %}
                                        <li>
                                            <a href="{{ dropdownLink }}" class="mpl-nav-link">
                                                <span class="mpl-nav-link-name">{{ dropdownTitle }}</span>
                                            </a>
                                        </li>
                                    {% endfor %}

                                    <li>
                                        <a href="/gameservers" class="mpl-nav-link">
                                            <span class="mpl-nav-link-name">... show all game server!</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    {% else %}
                        <li>
                            <a href="#" class="mpl-nav-link mpl-nav-link-collapse mpl-collapsed" role="button">
                                <span class="mpl-nav-link-name">{{ title }}</span>
                            </a>
                            <div class="mpl-navbar-collapse collapse">
                                <ul class="mpl-navbar-nav">
                                    {% for dropdownTitle,dropdownLink in content %}
                                        <li>
                                            <a href="{{ dropdownLink }}" class="mpl-nav-link">
                                                <span class="mpl-nav-link-name">{{ dropdownTitle }}</span>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                    {% endif %}

                    {% else %}
                        <li>
                            <a href="{{ content }}" class="mpl-nav-link">
                                <span class="mpl-nav-link-name">{{ title }}</span>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="mpl-navbar-footer">
            <ul class="mpl-navbar-nav">
                <li>
                    <a class="mpl-nav-link" href="/cart">
                        <svg class="icon" viewBox="0 0 24 24" stroke="currentColor" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 1H5L7.68 14.39M7.68 14.39C7.77144 14.8504 8.02191 15.264 8.38755 15.5583C8.75318 15.8526 9.2107 16.009 9.68 16H19.4C19.8693 16.009 20.3268 15.8526 20.6925 15.5583C21.0581 15.264 21.3086 14.8504 21.4 14.39L23 6H6L7.68 14.39ZM10 21C10 21.5523 9.55228 22 9 22C8.44772 22 8 21.5523 8 21C8 20.4477 8.44772 20 9 20C9.55228 20 10 20.4477 10 21ZM21 21C21 21.5523 20.5523 22 20 22C19.4477 22 19 21.5523 19 21C19 20.4477 19.4477 20 20 20C20.5523 20 21 20.4477 21 21Z"/>
                        </svg>
                    </a>
                </li>

                {% if user.logged == false %}
                    <li>
                        <a class="mpl-nav-link" href="#" data-fancybox data-src="#popup-signin" data-touch="false"
                           data-small-btn="false" data-toolbar="false" data-close-existing="true"
                           data-auto-focus="true">
                            <svg class="icon" viewBox="0 0 24 24" stroke="currentColor" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M20 21V19C20 17.9391 19.5786 16.9217 18.8284 16.1716C18.0783 15.4214 17.0609 15 16 15H8C6.93913 15 5.92172 15.4214 5.17157 16.1716C4.42143 16.9217 4 17.9391 4 19V21M16 7C16 9.20914 14.2091 11 12 11C9.79086 11 8 9.20914 8 7C8 4.79086 9.79086 3 12 3C14.2091 3 16 4.79086 16 7Z"/>
                            </svg>
                        </a>
                    </li>
                {% else %}
                    <li>
                        <div onclick="logout();" style="cursor: pointer;" class="mpl-nav-link">
                            Logout
                        </div>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>