{% if SEO.title|length %} <title>{{ SEO.title }}</title> {% endif %}
{% if SEO.description|length %} <meta name="description" content="{{ SEO.description }}"/> {% endif %}
{% if SEO.keywords|length %} <meta name="keywords" content="{{ SEO.keywords }}"/> {% endif %}
{% if SEO.page-color|length %} <meta name="theme-color" content="{{ SEO.page-color }}"/> {% endif %}
{% if SEO.page-color|length %} <meta name="msapplication-TileColor" content="{{ SEO.page-color }}"/> {% endif %}
{% if SEO.author|length %} <meta name="author" content="{{ SEO.author }}"/> {% endif %}
{% if SEO.author|length %} <meta name="publisher" content="{{ SEO.author }}"/> {% endif %}
{% if SEO.keywords|length %} <meta name="keywords" content="{{ SEO.keywords }}"/> {% endif %}
{% if SEO.robots|length %} <meta name="robots" content="{{ SEO.robots }}"/> {% else %} <meta name="robots" content="index, follow"/> {% endif %}
{% if SEO.title|length %} <meta property="og:title" content="{{ SEO.title }}"/> {% endif %}
{% if SEO.title|length %} <meta property="og:site_name" content="{{ SEO.title }}"/> {% endif %}
{% if SEO.image|length %} <meta property="og:image" content="{{ SEO.image }}"/> {% endif %}
{% if SEO.pageType|length %} <meta property="og:type" content="{{ SEO.pageType }}"/> {% endif %}
{% if SEO.url|length %} <meta property="og:url" content="{{ SEO.url }}"/> {% endif %}
{% if SEO.description|length %} <meta property="og:description" content="{{ SEO.description }}"/> {% endif %}
{% if SEO.title|length %} <meta name="twitter:title" content="{{ SEO.title }}"/> {% endif %}
{% if SEO.description|length %} <meta name="twitter:description" content="{{ SEO.description }}"/> {% endif %}
{% if SEO.image|length %} <meta name="twitter:image" content="{{ SEO.image }}"/> {% endif %}
{% if SEO.twitterPage|length %} <meta name="twitter:site" content="{{ SEO.twitterPage }}"/> {% endif %}
{% if SEO.twitterCreator|length %} <meta name="twitter:creator" content="{{ SEO.twitterCreator }}"/> {% endif %}
{% if SEO.fbPage|length %} <meta property="fb:pages" content="{{ SEO.fbPage }}"/> {% endif %}
{% if SEO.fbPage|length %} <meta http-equiv="language" content="{{ SEO.language }}"/> {% endif %}
{% if AssetManager.header|length %} {{ AssetManager.header | raw }} {% endif %}
{{ reCAPTCHAJS }}
{{ reCAPTCHAScript() }}