{% extends "/frontend/default/base.html.twig" %}

{% block content %}
    {{ setTranslateScope(Translation.Scope) }}


    <div class="content-wrap" id="gameserver-panel" data-game-type="{{ blueprintIdentifier }}" data-selection="{{ blueprint.pricing.varMap }}" data-selection-type="{{ blueprint.pricing.type }}">
        <div class="mpl-navbar-mobile-overlay"></div>
        <div class="no-banner">
            <div class="mpl-box-md" style="background: linear-gradient(to bottom, rgba(39, 36, 52, 0.9) 20%, rgb(39, 36, 52)), url({{ images[random(images | keys)].url }});
                   background-size: 100%;
                   background-repeat: no-repeat;">
                <div class="container">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-30">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="/gameserver">Gameserver</a></li>
                            <li class="breadcrumb-item active">{{ blueprint.name }} Game Server Hosting</li>
                        </ol>
                    </nav>
                    <div class="row hgap-lg vgap-lg mb-0">
                        <div class="col-lg-7">
                            <div class="mpl-product-gallery">
                                <a class="mpl-gallery-item" href="{{ images.0.url }}"
                                   data-fancybox="gallery" data-animation-effect="fade">
                                        <span class="mpl-image">
                                            <img src="{{ images.0.url }}" alt="">
                                        </span>
                                    <svg class="icon" viewBox="0 0 24 24" stroke="currentColor" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8 3H5C4.46957 3 3.96086 3.21071 3.58579 3.58579C3.21071 3.96086 3 4.46957 3 5V8M21 8V5C21 4.46957 20.7893 3.96086 20.4142 3.58579C20.0391 3.21071 19.5304 3 19 3H16M16 21H19C19.5304 21 20.0391 20.7893 20.4142 20.4142C20.7893 20.0391 21 19.5304 21 19V16M3 16V19C3 19.5304 3.21071 20.0391 3.58579 20.4142C3.96086 20.7893 4.46957 21 5 21H8"/>
                                    </svg>
                                </a>
                                <!--
Carousel

Additional attributes:
    data-autoplay
    data-loop
    data-dots
    data-arrows
    data-speed
    data-slides
    data-autoHeight
    data-grabCursor
    data-scrollbar
-->
                                <div class="mpl-carousel" data-gap="10" data-scrollbar="true" data-slides="1"
                                     data-breakpoints="767:4,440:3,320:2" {% if images.length > 4 %} data-arrows="true" {% endif %}>
                                    {% for key,curImage in images %}
                                        {% if key != 0 %}
                                            <a class="mpl-gallery-item" href="{{ curImage.url }}"
                                               data-fancybox="gallery" data-animation-effect="fade">
                                            <span class="mpl-image">
                                                <img src="{{ curImage.url }}" alt="">
                                            </span>
                                                <svg class="icon" viewBox="0 0 24 24" stroke="currentColor" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M8 3H5C4.46957 3 3.96086 3.21071 3.58579 3.58579C3.21071 3.96086 3 4.46957 3 5V8M21 8V5C21 4.46957 20.7893 3.96086 20.4142 3.58579C20.0391 3.21071 19.5304 3 19 3H16M16 21H19C19.5304 21 20.0391 20.7893 20.4142 20.4142C20.7893 20.0391 21 19.5304 21 19V16M3 16V19C3 19.5304 3.21071 20.0391 3.58579 20.4142C3.96086 20.7893 4.46957 21 5 21H8"/>
                                                </svg>
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="row vgap" style="position: relative;" data-sr="product-details" data-sr-interval="240" data-sr-duration="2000" data-sr-distance="20">
                                <div style="display: none;" class="priceLoader">
                                    <div class="spinner-border priceLoader-circle" role="status" style="">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                                <h3 style="margin-bottom: 0.3em; margin-top: 1em; padding-left: 10px;">{{ translate("whatYouGet") }}</h3>
                                <table class="table mpl-table-product-information mb-0">
                                    <tbody>
                                    <tr>
                                        <th>CPU</th>
                                        <td id="cpuDetails" style="background-color: #282535;">-</td>
                                    </tr>
                                    <tr>
                                        <th>RAM</th>
                                        <td id="ramDetails" style="background-color: #282535;">-</td>
                                    </tr>
                                    <tr>
                                        <th>Disk</th>
                                        <td id="discDetails" style="background-color: #282535;">-</td>
                                    </tr>
                                    <tr>
                                        <th>Network</th>
                                        <td id="networkDetails" style="background-color: #282535;">-</td>
                                    </tr>
                                    <tr>
                                        <th>DDoS Protection</th>
                                        <td id="ddosProtection" style="background-color: #282535;">-</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-lg-5" data-sr="product-main" data-sr-interval="120" data-sr-duration="1000"
                             data-sr-distance="20">
                            <h1 class="mb-10" data-sr-item="product-main">{{ blueprint.name }} Game Server</h1>
                            <div class="row align-items-center hgap-sm vgap-sm" data-sr-item="product-main">
                                <!--<div class="col-auto">
                                        <span class="mpl-rating">
                                            <span class="mpl-rating-front" style="width: 100%;">
                                                <svg class="icon" viewBox="0 0 24 24" stroke="currentColor" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M12 2L15.09 8.26L22 9.27L17 14.14L18.18 21.02L12 17.77L5.82 21.02L7 14.14L2 9.27L8.91 8.26L12 2Z"/>
                                                </svg>
                                                <svg class="icon" viewBox="0 0 24 24" stroke="currentColor" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M12 2L15.09 8.26L22 9.27L17 14.14L18.18 21.02L12 17.77L5.82 21.02L7 14.14L2 9.27L8.91 8.26L12 2Z"/>
                                                </svg>
                                                <svg class="icon" viewBox="0 0 24 24" stroke="currentColor" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M12 2L15.09 8.26L22 9.27L17 14.14L18.18 21.02L12 17.77L5.82 21.02L7 14.14L2 9.27L8.91 8.26L12 2Z"/>
                                                </svg>
                                                <svg class="icon" viewBox="0 0 24 24" stroke="currentColor" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M12 2L15.09 8.26L22 9.27L17 14.14L18.18 21.02L12 17.77L5.82 21.02L7 14.14L2 9.27L8.91 8.26L12 2Z"/>
                                                </svg>
                                                <svg class="icon" viewBox="0 0 24 24" stroke="currentColor" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M12 2L15.09 8.26L22 9.27L17 14.14L18.18 21.02L12 17.77L5.82 21.02L7 14.14L2 9.27L8.91 8.26L12 2Z"/>
                                                </svg>
                                            </span>
                                            <span class="mpl-rating-back">
                                                <svg class="icon" viewBox="0 0 24 24" stroke="currentColor" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M12 2L15.09 8.26L22 9.27L17 14.14L18.18 21.02L12 17.77L5.82 21.02L7 14.14L2 9.27L8.91 8.26L12 2Z"/>
                                                </svg>
                                                <svg class="icon" viewBox="0 0 24 24" stroke="currentColor" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M12 2L15.09 8.26L22 9.27L17 14.14L18.18 21.02L12 17.77L5.82 21.02L7 14.14L2 9.27L8.91 8.26L12 2Z"/>
                                                </svg>
                                                <svg class="icon" viewBox="0 0 24 24" stroke="currentColor" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M12 2L15.09 8.26L22 9.27L17 14.14L18.18 21.02L12 17.77L5.82 21.02L7 14.14L2 9.27L8.91 8.26L12 2Z"/>
                                                </svg>
                                                <svg class="icon" viewBox="0 0 24 24" stroke="currentColor" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M12 2L15.09 8.26L22 9.27L17 14.14L18.18 21.02L12 17.77L5.82 21.02L7 14.14L2 9.27L8.91 8.26L12 2Z"/>
                                                </svg>
                                                <svg class="icon" viewBox="0 0 24 24" stroke="currentColor" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M12 2L15.09 8.26L22 9.27L17 14.14L18.18 21.02L12 17.77L5.82 21.02L7 14.14L2 9.27L8.91 8.26L12 2Z"/>
                                                </svg>
                                            </span>
                                        </span>
                                </div>
                                <div class="col-auto">(3 customer review)</div>!-->
                            </div>
                            <p data-sr-item="product-main"><br> {{ blueprint.description }} </p>

                            <div id="priceArea" style="position: relative;">
                                <div style="display: none;" class="priceLoader">
                                    <div class="spinner-border priceLoader-circle" role="status" style="">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                                {% set leftFieldSize = 4 %}
                                {% set rightFieldSize = 8 %}

                                {% for variable,content in blueprint.variables %}
                                    {% if content.showOnCreation == true %}
                                        {% if variable == blueprint.pricing.varMap %}
                                            {% if blueprint.pricing.type == "dropdown" %}
                                                <div class="row hgap-sm vgap-sm align-items-center mt-30">
                                                    <div class="col-{{ leftFieldSize }}" data-sr-item="product-main">{{ content.name }}</div>
                                                    <div class="col-{{ rightFieldSize }}" data-sr-item="product-main">
                                                        <select data-variable="true" name="{{ variable }}" id="{{ variable }}" class="form-control form-control-sm custom-select">
                                                            {% for curStep in range(0, content.rules.max, blueprint.pricing.step) %}
                                                                {% if curStep != 0 %}
                                                                    <option value="{{ curStep }}">{{ curStep }} {{ content.name }}</option>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </select>
                                                        <span class="form-control-bg"></span>
                                                    </div>
                                                </div>
                                            {% elseif blueprint.pricing.type == "range" %}
                                                range-thisfielddecidespricing
                                            {% endif %}
                                        {% else %}
                                            {% if content.rules.type == "integer" %}
                                                <div class="row hgap-sm vgap-sm align-items-center mt-30">
                                                    <div class="col-{{ leftFieldSize }}" data-sr-item="product-main">{{ content.name }}</div>
                                                    <div class="col-{{ rightFieldSize }}" data-sr-item="product-main">
                                                        <input class="form-control" data-variable="true" type="text" id="{{ variable }}" name="{{ variable }}" placeholder="{{ content.description }}" min="{{ content.rules.min }}" max="{{ content.rules.max }}" required="">
                                                        <span class="form-control-bg"></span>
                                                    </div>
                                                </div>
                                            {% elseif content.rules.type == "string" %}
                                                <div class="row hgap-sm vgap-sm align-items-center mt-30">
                                                    <div class="col-{{ leftFieldSize }}" data-sr-item="product-main">{{ content.name }}</div>
                                                    <div class="col-{{ rightFieldSize }}" data-sr-item="product-main">
                                                        <input class="form-control" data-variable="true" type="text" id="{{ variable }}" name="{{ variable }}" placeholder="{{ content.description }}" required="">
                                                        <span class="form-control-bg"></span>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}

                                <div class="row hgap-sm vgap-sm align-items-center mt-30">
                                    <div class="col-{{ leftFieldSize }}" data-sr-item="product-main">Server Location</div>
                                    <div class="col-{{ rightFieldSize }}" data-sr-item="product-main">
                                        <select name="location" id="location" class="form-control form-control-sm custom-select">
                                            <option value="" disabled selected>Please choose a location...</option>
                                        </select>
                                        <span class="form-control-bg"></span>
                                    </div>
                                </div>

                                <div class="row hgap-sm vgap-sm align-items-center mt-30">
                                    <div class="col-{{ leftFieldSize }}" data-sr-item="product-main">Duration</div>
                                    <div class="col-{{ rightFieldSize }}" data-sr-item="product-main">
                                        <select name="payTime" id="payTime" class="form-control form-control-sm custom-select">
                                            <option value="" disabled selected>Please choose a duration...</option>
                                            {% for key,value in panel.gameserverPayDurations %}
                                                {% if key == 30 %}
                                                    <option value="{{ key }}" selected>{{ value }}</option>
                                                {% else %}
                                                    <option value="{{ key }}">{{ value }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                        <span class="form-control-bg"></span>
                                    </div>
                                </div>

                                <div class="row hgap-sm vgap-sm align-items-center mt-40" style="justify-content: center;">
                                    <div class="col-auto" data-sr-item="product-main">
                                        <h3 class="mt-30" id="price" data-sr-item="product-main">{{ pricingStartingAt|number_format(2) }} {{ CurrencyCode }}</h3>
                                    </div>
                                    <div class="col-auto" data-sr-item="product-main">
                                        <button id="cartButton" onclick="cartAddGameserver();" class="btn btn-md btn-brand">{{ translate("addToCartBtn") }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Related -->
            <div class="mpl-box-sm bg-light">
                <div class="container">
                    <h2>{{ translate("FAQ") }}</h2>
                    <div class="row vgap" data-sr="footer" data-sr-interval="120" data-sr-duration="1200" data-sr-distance="20">
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Collapsible Group Item #1
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Collapsible Group Item #2
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Collapsible Group Item #3
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <!-- /Related -->


{% endblock %}