{% extends "/frontend/default/base.html.twig" %}

{% block content %}
    {{ setTranslateScope(Translation.Scope) }}


    <div class="content-wrap" id="gameservers-panel">
        <div class="mpl-navbar-mobile-overlay"></div>
        <section class="mpl-banner mpl-banner-top mpl-banner-parallax mpl-banner-small">
            <div class="mpl-image" data-speed="0.8" style="z-index: 0;">

                <div style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; z-index: -100;" id="jarallax-container-0"><img src="/public/frontend/default/assets/images/dark/bg-banner-1.jpg" alt="" class="jarallax-img" style="object-fit: cover; object-position: 50% 50%; max-width: none; position: absolute; top: 0px; left: 0px; width: 2031px; height: 500.72px; overflow: hidden; pointer-events: none; transform-style: preserve-3d; backface-visibility: hidden; will-change: transform, opacity; margin-top: 12.64px; transform: translate3d(0px, -12.66px, 0px);"></div></div>
            <div class="mpl-banner-content mpl-box-lg" style="filter: blur(0px);">
                <div class="container">
                    <h1 class="display-1 mb-0">{{ translate("title") }}</h1>
                </div>
            </div>
        </section>
        <div>
            <div class="mpl-box-md">
                <div class="container">
                    <form action="#">
                        <input type="text" id="searchBox" onkeyup="search();" class="form-control" name="searchField" placeholder="{{ translate("searchField") }}">
                        <div class="form-control-bg"></div>
                    </form>
                    <br>
                    <div class="mpl-isotope-grid row hgap-xs vgap-md" data-sr="product" data-sr-interval="120"
                         data-sr-duration="1200" data-sr-distance="20">
                        {% for type,data in blueprints %}
                            <div id="game" data-game-name="{{ data.name }}" class="mpl-isotope-item col-12 col-sm-6 col-md-4" data-filters="controllers">
                                <a href="/gameserver/{{ data.url }}" class="mpl-product-item" data-sr-item=product>
                                    <span class="mpl-product-image">
                                        <span class="mpl-image">
                                            <img src="{{ data.images[random(data.images | keys)].url }}" alt="">
                                        </span>
                                     <!--   <span class="mpl-product-rating">
                                            <span class="mpl-rating">
                                                <span class="mpl-rating-front" style="width: 90%;">
                                                    <svg class="icon" viewBox="0 0 24 24" stroke="currentColor"
                                                         fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M12 2L15.09 8.26L22 9.27L17 14.14L18.18 21.02L12 17.77L5.82 21.02L7 14.14L2 9.27L8.91 8.26L12 2Z"/>
                                                    </svg>
                                                    <svg class="icon" viewBox="0 0 24 24" stroke="currentColor"
                                                         fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M12 2L15.09 8.26L22 9.27L17 14.14L18.18 21.02L12 17.77L5.82 21.02L7 14.14L2 9.27L8.91 8.26L12 2Z"/>
                                                    </svg>
                                                    <svg class="icon" viewBox="0 0 24 24" stroke="currentColor"
                                                         fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M12 2L15.09 8.26L22 9.27L17 14.14L18.18 21.02L12 17.77L5.82 21.02L7 14.14L2 9.27L8.91 8.26L12 2Z"/>
                                                    </svg>
                                                    <svg class="icon" viewBox="0 0 24 24" stroke="currentColor"
                                                         fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M12 2L15.09 8.26L22 9.27L17 14.14L18.18 21.02L12 17.77L5.82 21.02L7 14.14L2 9.27L8.91 8.26L12 2Z"/>
                                                    </svg>
                                                    <svg class="icon" viewBox="0 0 24 24" stroke="currentColor"
                                                         fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M12 2L15.09 8.26L22 9.27L17 14.14L18.18 21.02L12 17.77L5.82 21.02L7 14.14L2 9.27L8.91 8.26L12 2Z"/>
                                                    </svg>
                                                </span>
                                                <span class="mpl-rating-back">
                                                    <svg class="icon" viewBox="0 0 24 24" stroke="currentColor"
                                                         fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M12 2L15.09 8.26L22 9.27L17 14.14L18.18 21.02L12 17.77L5.82 21.02L7 14.14L2 9.27L8.91 8.26L12 2Z"/>
                                                    </svg>
                                                    <svg class="icon" viewBox="0 0 24 24" stroke="currentColor"
                                                         fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M12 2L15.09 8.26L22 9.27L17 14.14L18.18 21.02L12 17.77L5.82 21.02L7 14.14L2 9.27L8.91 8.26L12 2Z"/>
                                                    </svg>
                                                    <svg class="icon" viewBox="0 0 24 24" stroke="currentColor"
                                                         fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M12 2L15.09 8.26L22 9.27L17 14.14L18.18 21.02L12 17.77L5.82 21.02L7 14.14L2 9.27L8.91 8.26L12 2Z"/>
                                                    </svg>
                                                    <svg class="icon" viewBox="0 0 24 24" stroke="currentColor"
                                                         fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M12 2L15.09 8.26L22 9.27L17 14.14L18.18 21.02L12 17.77L5.82 21.02L7 14.14L2 9.27L8.91 8.26L12 2Z"/>
                                                    </svg>
                                                    <svg class="icon" viewBox="0 0 24 24" stroke="currentColor"
                                                         fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M12 2L15.09 8.26L22 9.27L17 14.14L18.18 21.02L12 17.77L5.82 21.02L7 14.14L2 9.27L8.91 8.26L12 2Z"/>
                                                    </svg>
                                                </span>
                                            </span>
                                        </span> -->
                                    </span>
                                    <span class="mpl-product-content">
                                        <span class="mpl-product-title h4">{{ data.name }} Game Server</span>
                                        <div class="mpl-price" style="text-transform: none; font-weight: normal;">{{ translate("startingAt") }}</div>
                                        <b><span class="mpl-price" style="font-weight: bold; font-size: 1.3em;">{{ data.pricingStartAt|number_format(2) }}€ / {{ data.selectionStartAt.min }} {{ data.selectionStartAt.name }}</span></b>
                                    </span>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>


{% endblock %}